* {
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
    text-align: center;
    background-image: url("http://static-mag.itcher.com/mag/wp-content/uploads/2014/03/1200x520-Vinyl-Turntable-System.jpg")


}

header {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

img {

    width: 100%;
    height: 100%;

}

.grid-container {
    position: relative;
    display: grid;
    margin-top: 20px;
    justify-content: space-evenly;
    grid-template-columns: 20%  20%    20%   20%  20% ;
    grid-gap: 10px;
    justify-items: center;
}

.container-items {
    border: dashed gray 6px;
    width: 200px;
    height:300px;
    cursor: pointer;
    font-size: 30px;
}
.stop-music {
    margin-top: 30px;
    border: dashed black 2px;
    border-radius: 70%;
    font-family: sans-serif;
    font-style: oblique;
    background: white;
    color: red;
    width: 8%;
    height: 6%;
    justify-items: center;
    cursor: pointer;
}

.rap-bars {
    display: grid;
    margin-bottom: 10px;
    height: 30px;
}

#restart {
    margin-top: 90px;
    border: dashed black 2px;
    border-radius: 50%;
    font-family: sans-serif;
    font-style: oblique;
    background: white;
    color: red;
    width: 8%;
    height: 6%;
    justify-items: center;
    cursor: pointer;

}

#next-challenge {
    margin-top: 30px;
    border: dashed black 2px;
    border-radius: 70%;
    font-family: sans-serif;
    font-style: oblique;
    background: white;
    color: red;
    width: 8%;
    height: 6%;
    justify-items: center;
    cursor: pointer;
}