header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Comic Sans MS
}

.instructions {
    margin-top: 5px;
    color: white;
    font-size: 20px;
}

.playStopButton {
    font-size: 20px;
    margin-top: 2%;
    width: 150px;
    height: 50px;
    border: white 5px ridge;
    text-align: auto;
    color: white;
    background-color: black;
    font-family: Comic Sans MS;
    cursor: pointer;
}

.carousel-holder {
    margin:   auto;
    margin-top: 30px;
    width: 40%;
    height: 50%;
    border: ridge 10px white;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;  
    cursor: pointer;
}


.rapSelect div {
   margin-top: 40px;
   font-size: 30px
}

.alertBoxes {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 32%;
    left: 32%;
    background-color: black;
    display: none; 
    width: 35%;
    height: 40%;
    border: dashed 10px white;
}

.alertMessage {
    margin: 15% auto;
    font-size: 30px;
    text-align: center;
    padding: 2%px;
}

.alertGos, .nextLevel {
    position: relative;
    margin: auto;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: white 5px ridge;
    text-align: auto;
    color: white;
    background-color: black;
    font-family: Comic Sans MS;
    margin-bottom: 10px;    
    cursor: pointer;                  
}