body {
    text-align: center;
    background-color: black;
    font-family: Comic Sans MS;
    user-select: none;
}

header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.main-container {
    margin: 4% auto;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 85%;
    justify-content: space-evenly;
   /* border: red dashed 1px; */
}

/* Left Section */
.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    justify-content: space-evenly;
    margin: 1% auto;
    color: white;
    cursor: pointer;
    border: green 10px ridge;
}

    .artist-1, .artist-2, .artist-3, .artist-4 {
       font-size: 25px; 
    }

    .artist-1:hover, .artist-2:hover, .artist-3:hover, .artist-4:hover {
        font-size: 25px; 
        color: green;
     }
/* Middle Section */
     .middle-container {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         margin: 15% auto;
         width: 30%;
         color: white;
     }

     .middle-container p {
         font-size: 18px;
     }

     .stop-music {
        display: flex;  
        width: 75%;
        height: 60px;
        border: white dashed 2px;
        background: black;
        color: white;
        font-family: Comic Sans MS;
        padding: 2%;
        cursor: pointer;
        border-radius: 50%;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
    
    .stop-music:hover {
        background: red;
    }

    .go-instructions {
        font-size: 20px;
        color: blue;
        cursor: pointer;
    }

    .go-instructions:hover {
       color: green;
    }

    .instructions-alert {
        position: absolute;
        width: 60%;
        border: white dashed 2px;
        background: black;
        color: white;
        height: 350px;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%)
    }
    .instructions-alert h1 {
        font-size: 28px;
    }

    .instructions-alert li {
        font-size: 17px;
        width: 90%;
        margin: 2% auto;
        color: white;
    }
    .instructions-alert h4 {
        position: absolute;
        font-size: 20px;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%)
    }

    .exit-instructions {
       color: blue;
       cursor: pointer;
    }

    .exit-instructions:hover {
        color: green;
     }
    
/* Right Section....Spin Circle CSS Code.... */
.spin-wheel {
    display: flex;
    position: relative;
    border: white solid 5px;
    margin: 4% auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    animation: spinCircle 20s infinite linear;
}


@keyframes spinCircle {
   from {
       transform: rotate(0deg)
   } to {
       transform: rotate(360deg)
   }
}

.stop-spin {
    border: white solid 5px;
    margin: 4% auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.rap1, .rap2, .rap3, .rap4 {
    display: flex;
    border: white 2px inset;
    align-items: center;
    width: 50%;
    height: 50%;
    position: absolute;
    color: white;
    cursor: pointer;
    vertical-align: middle;
}

.rap1:hover, .rap2:hover, .rap3:hover, .rap4:hover {
    color: black;
    background-color: white;
}

.rap1 {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -1%;
    left: -1%;
}

.rap2 {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -1%;
    left: 50%;
}

.rap3 {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 50%;
}

.rap4 {
    top: 50;
    left: 50%;
}


.rap1 span{
    position: absolute;
    right: 5%;
    bottom: 10%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate(-40deg)
}

.rap2 span {
    position: absolute;
    left: 15%;
    top: -20%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate( 40deg)
}

.rap3 span {
    position: absolute;
    right: 5%;
    bottom: -20%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate(40deg)
}

.rap4 span {
    position: absolute;
    left: 10%;
    bottom: -20%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate(-40deg)
}

/* Wrong answers */
.wrong {
    color: red;
    font-size: 25px;
}

@media screen and (max-width: 1250px) {
    .main-container {
        flex-direction: column;
        width: 100%;
        margin: 5% auto;
        justify-content: center;
        height: auto;
    }
    .artist {
        width: 60%;
    }

    .middle-container {
        width: 100%;
    }

    .instructions-alert {
        width: 60%;
    }
    .stop-music {
        width: 30%;
    }

    .spin-wheel {   
        width: 450px;
        height: 450px;
    }
    
    .stop-spin {
        width: 450px;
        height: 450px;
    }
   
}

@media screen and (max-width: 1090px) {
    .stop-music {
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    .spin-wheel {   
        width: 375px;
        height: 375px;
    }
    
    .stop-spin {
        width: 375px;
        height: 375px;
    }
}