body {
    background: black;
    text-align: center;
    font-family: Comic Sans MS;
    user-select: none;
}

header {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.game-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 95%;
    color: white;
    /*border: 3px dashed white;*/
    justify-content: space-between
}

.middle {
    margin: 1% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-intro {
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 3px dashed white;
}

.start, .pause {
    margin: 2% auto;
    background: black;
    color: white;
    padding: 2%;
    font-size: 25px;
    width: 150px;
    border: white dashed 2px;
    font-family: Comic Sans Ms;
    align-items: center;
    cursor: pointer;
}

.start:hover {
    background: green;
    color: black;
}

.pause:hover {
    background: red;
    color: black;
}

.timer {
    height: 50px;
    margin: auto;
    color: blue;
    font-size: 30px;
}

.instructs {
    width: 90%;
    margin: 1% auto;
    color: white;
    font-size: 20px;
}

.top-intro span {
    text-align: center;
    color: green;
    padding-bottom: 2%;
    font-size: 25px;
}

.out-of-time {
    font-size: 30px;
    color: white;
}

.choice-holder {
    margin: 2% auto;
    width: 90%;
    text-align: center;
    border: 3px dashed white;
}

.choice-holder h1 {
    margin: 0;
    font-size: 35px;
    color: blue;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2% auto;
    width: 50%;
    height: 100% auto;
}

.choice_1, .choice_2, .choice_3, .choice_4, .choice_5 {
    color: white;
    margin: 1% auto;
    cursor: pointer;
    font-size: 20px;
}

.choice_1:hover, .choice_2:hover, .choice_3:hover, .choice_4:hover, .choice_5:hover {
    color: green;
}

.wrong-choice {
    color: red;
}

.wrong-choice:hover {
    color: red;
}

.right {
    color: green;
}

.left-giphy, .right-giphy {
    margin: 12% auto;
    width: 30%;
    border: white dashed 1px;
    height: 300px;
}

img {
    width: 100%;
    height: 100%;
}

@media screen and (max-height: 625px) {

    header {
        color: white;
        font-size: 50px;
        font-weight: bold;
    }
    .game-container {
        margin: 0 auto;
    }

    .middle {
        margin: 0 auto;
    }

    .timer {
        font-size: 25px;
        height: 40px
    }

    .instructs {
        margin: 1% auto;
        font-size: 20px;
    }

    .choice-holder {
        margin: 1% auto;
    }

    .choice-holder h1 {
        margin: 0;
        font-size: 25px;
        color: blue;
    }

    .choices {
        margin: 0 auto;
    }


    .choice_1, .choice_2, .choice_3, .choice_4, .choice_5 {
        margin: 1% auto;
        font-size: 20px;
    }

    .start, .pause {
        margin: 1% auto;
        background: black;
        color: white;
        font-size: 20px;
        width: 100px;
        border: white dashed 2px;
        font-family: Comic Sans Ms;
        align-items: center;
        cursor: pointer;
    }

    .wrong-choice {
        color: red;
    }
    
    .wrong-choice:hover {
        color: red;
    }
    
    .right {
        color: green;
    }
    

    .left-giphy, .right-giphy {
        margin: 10% auto;
        width: 30%;
        border: white dashed 1px;
        height: 250px;
    }

   
}

@media screen and (max-width: 1300px) {
    .game-container {
        display: flex;
        flex-direction: column;
    }
    .middle {
        width: 100%;
    }
    .instructs {
        font-size: 30px;
    }

    .choices {
        margin: auto;
        width: 100%;
    }

    .choice_1, .choice_2, .choice_3, .choice_4, .choice_5 {
        color: white;
        margin: 1% auto;
        cursor: pointer;
        font-size: 25px;
    }
    .left-giphy, .right-giphy {
        margin: 2% auto;
        width: 50%;
        height: 400px;
    }

    .wrong-choice {
        color: red;
    }
    
    .wrong-choice:hover {
        color: red;
    }
    
    .right {
        color: green;
    }
}

@media screen and (max-width: 720px) {
    .game-container {
        display: flex;
        flex-direction: column;
    }
    .middle {
        width: 100%;
    }

    .choice-holder {
        width: 100%;
    }

    .choices {
        width: 100%;
    }
    .left-giphy, .right-giphy {
        margin: auto;
        width: 70%;
        height: 400px;
    }

    .wrong-choice {
        color: red;
    }
    
    .wrong-choice:hover {
        color: red;
    }
    
    .right {
        color: green;
    }

}

    @media screen and (max-width: 500px) {
        .game-container {
            width: 99%;
        }
        .middle {
            width: 100%;
        }

        .top-intro {
            width: 100%;
        }
        .instructs {
            font-size: 20px;
        }

        .choice-holder {
            width: 100%;
        }

        .left-giphy, .right-giphy {
            margin: auto;
            width: 70%;
            height: 300px;
        }

        .wrong-choice {
            color: red;
        }
        
        .wrong-choice:hover {
            color: red;
        }
        
        .right {
            color: green;
        }
    }
