body {
    text-align: center;
    background-color: black;
    font-family: Comic Sans MS;
    user-select: none;
}

header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.stop-music {
    margin: 2% auto;
    width: 15%;
    color: white;
    border: white dashed 2px;
    cursor: pointer;
}

.stop-music:hover {
    background: red;
}

.artist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    color: white;
    cursor: pointer;
}

.spin-wheel {
    border: white solid 5px;
    margin: 1% auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    animation: spinCircle 20s infinite linear;
}

/*
@keyframes spinCircle {
   from {
       transform: rotate(0deg)
   } to {
       transform: rotate(360deg)
   }
}
*/
.stop-spin {
    border: white solid 5px;
    margin: 1% auto;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.rap1, .rap2, .rap3, .rap4 {
    display: flex;
    border: white 2px inset;
    align-items: center;
    width: 50%;
    height: 50%;
    position: absolute;
    color: white;
    cursor: pointer;
    vertical-align: middle;
}

.rap1:hover, .rap2:hover, .rap3:hover, .rap4:hover {
    color: black;
    background-color: white;
}

.rap1 {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -1%;
    left: -1%;
}

.rap2 {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -1%;
    left: 50%;
}

.rap3 {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 50%;
}

.rap4 {
    top: 50;
    left: 50%;
}


.rap1 span{
    position: absolute;
    right: 5%;
    bottom: 10%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate(-40deg)
}

.rap2 span {
    position: absolute;
    left: 15%;
    top: -20%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate( 40deg)
}

.rap3 span {
    position: absolute;
    right: 5%;
    bottom: -20%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate(40deg)
}

.rap4 span {
    position: absolute;
    left: 10%;
    bottom: -20%;
    font-size: 20px;
    margin: 50% auto;
    transform: rotate(-40deg)
}

.right {
    background-color: green;
    color: white;
}
.right:hover {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

.wrong:hover {
    background-color: red;
    color: white;
}

.normal {
    background-color: black;
    color: white;
}

.normal:hover {
    background-color: black;
    color: white;
}