* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Comic Sans MS
}

header {
    text-align: center;
    font-size: 60px;
}

.gameHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameHolder h1 {
    margin: 0;
}

#directions {
    color: blue;
}

#rightAns1 {
    color: green;
}

.rap-bars {
    width: 65%;
    font-size: 25px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    /*display: grid;*/
    display: flex;
    margin: 2% auto;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    /*grid-template-columns: 20%  20%   20%   20%  20% ; */
}

.container-items {
    border: dashed blue 5px;
    height: 250px;
    width: 18%;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}

.stop-music {
    margin-top: 30px;
    border: dashed black 2px;
    border-radius: 70%;
    font-family: sans-serif;
    font-style: oblique;
    background: white;
    color: red;
    width: 8%;
    height: 6%;
    justify-items: center;
    cursor: pointer;
}

.wrong {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

#restart, #next-challenge {
    margin: 0 auto;
    border: dashed white 2px;
    background-color: black;
    font-family: Comic Sans Ms;
    font-size: 20px;
    color: white;
    width: 175px;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
}

#next-challenge:hover {
    background: green;
}

@media screen and (max-width: 950px) {
    .rap-bars {
        font-size: 20px;
        width: 80%;
    }
    .container {
        margin: 4% auto;
        flex-direction: column;
        width: 100%;
    }

    .container-items {
        width: 60%;
        height: 300px;
        margin: 2% auto;
    }
    #next-challenge {
       margin: 0 auto;
    }
    #restart {
       margin: 2% auto;
    }
}

@media screen and (max-height: 660px) {
    header {
        font-size: 40px;
    }
    #noMoreQuestion {
        font-size: 25px;
    }
    #rightAns1 {
        font-size: 25px;
    }

    .rap-bars {
        font-size: 20px;
    }

    .container-items {
        height: 200px;
    }
}