* {
    box-sizing: border-box;
}

body {
    justify-items: center;
    background-color: black;
    color: white;
    font-family: Comic Sans MS
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    border: white dashed 5px;
    width: 60%;
    height: 700px;
    position: absolute;
    right: 4%;
    margin-top: 2%;
    justify-items: center;
    padding: 2%;
}

.grid-items {
    border: green 2px solid;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    
}

/* test */
.grid-items2 {
    border: white 2px solid;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: auto;
    
}



.instructions-box {
    display: flex;
    position: absolute;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: space-evenly;
    margin-top: 2%;
    float: left;
    left: 2%;
    width: 30%;
    text-align: center;
    padding:10px;
}

.instruction-message {
    margin: auto;
    border: red 2px dashed;
    width: 100%;
    
}

.instruction-action-box {
    margin-top: 10%;
    border: green 5px ridge;
    width: 100%;
    height: 373px;
    margin-bottom: 1%;
}

#yellowDrop, #redDrop, #blueDrop, #greenDrop, #jRock-plays {
    border: white 2px solid;
    color: white;
}

@media screen and (max-width: 992px) {
    .grid-items  {
        width: 100%; 
    }
    .grid-items2 {
        width: 100%;
    }

    .main-box {
        background-color: white;
    }

}


    /*
    .grid-container {
        width: 100%;
        position: auto;
    }

    #message {
        width: 100%;
        position: auto;
    }
    */
}