* {
    box-sizing: border-box;
}

body {
    justify-items: center;
    background-color: black;
    color: white;
    font-family: "Comic Sans MS"
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    border: white dashed 5px;
    width: 60%;
    /* height: 600px; */
    margin: 5% auto;
    justify-items: center;
    padding: 2%;
}

.grid-items, .grid-items2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.grid-items {
    border: green 2px solid;
    height: 50px;
    width: 70%;
    cursor: grab;
}

.grid-items2 {
    border: white 2px solid;
    height: 100px;
    width: 300px;
    cursor: pointer;
}

.grid-items2:hover {
    background: green;
}

.jrock {
    text-align: center;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: space-evenly;
    margin: 2% auto;
    width: 30%;
    text-align: center;
}

.instruction-box {
    margin: 2% auto;
    border: white 2px dashed;
}


.box-button, .next-button {
    font-family: "Comic Sans MS";
    font-size: 15px;
    width: 40%;
    border-radius: 5%;
    height: 35px;
    cursor: pointer;
}

.box-button {
    border: red 3px solid;
    color: red;
    background: black;
}

.next-button {
    background: green;
    border: white 3px solid;
    color: white;
}

.instruction-action-box {
    border: white 5px ridge;
    margin: 2% auto;
}

img {
    width: 100%;
    height: 300px;
}

#yellowDrop, #redDrop, #blueDrop, #greenDrop, #jRock-plays {
    border: white 2px solid;
    color: white;
}

@media screen and (max-width: 992px) {
    .main-box {
        flex-direction: column;
    }
    .side-container {
        width: 100%;
        margin: auto;
    }
    .instruction-action-box {
        width: 100%;
    }

    .message {
        padding: 1%;
    }
    
    .grid-items {
        width: 90%;
    }
    .grid-items2 {
        width: 90%;
    }
    .grid-container {
        width: 100%;
        grid-gap: 10px;
        grid-template-columns: 50% 50%;
        padding: 2%
    }
}